.ebook1,
.ebook2,
.ebook3,
.ebook4 {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-ebook1,
.desc-ebook2,
.desc-ebook3,
.desc-ebook4 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1em;
  gap: 1em;
  align-items: center;
}

p {
  text-align: justify;
}

.btnView {
  background-color: var(--roxo);
  border-radius: 4px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;

  padding: 1em;
  width: 10em;
  cursor: pointer;
}

.btnView a {
  color: white;
}


/* Responsividade */
/* Celulares e Telas menores */
@media (min-width: 320px) and (max-width: 480px) {
  main h2 {
    font-size: 1.5em;
    margin: 1em;
  }

  .ebook1,
  .ebook2 {
    display: flex;
    flex-direction: column;
  }

  .desc-ebook1,
  .desc-ebook2 {
    width: 100%;
    text-align: center;
  }

  .ebook2 img {
    order: 0 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ebook1,
  .ebook2 {
    display: flex;
    flex-direction: column;
  }

  .desc-ebook1,
  .desc-ebook2 {
    width: 100%;
    text-align: center;
  }

  .ebook2 img {
    order: 0 !important;
  }
}
