* {
  box-sizing: border-box;
}

.gradient-text-apostila {
  background: linear-gradient(90deg, #d6d6d6, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btnView {
  background: linear-gradient(90deg, var(--roxo), var(--rosaEscuro));
  border-radius: 4px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 1em;
  width: 10em;
  cursor: pointer;
  color: #fff;
}

.ebooks-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 768px;
}

.ebook {
  padding: 20px;
  width: 100%;
}

.ebook img {
  margin: 0 auto;
  border-radius: 10px
}

.ebook .desc-ebook {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ebook .desc-ebook h4 {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 20px;
}

.ebook .desc-ebook p {
  text-align: justify;
  font-weight: 400;
}

@media (min-width: 720px) {
  .ebook {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}