/* Configurações Gerais */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* INTRODUÇÃO */
#voltarTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; 
}

#voltarTopo i {
    font-size: 3em;
}

#nav-bar{
  background: #000000;

}

#nav-bar a,
#nav-bar span {
  color: #fff;
}

.descProblem,
.descConcept,
.descContext,
.descSynesthesia {
    user-select: none;
}

/* IDEIA */
.descContext {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    padding: 15em; 
}

.descContext p {
    font-size: 1.2em;
}

.descContext p:last-of-type {
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}

.descContext h3 {
    font-size: 1.5em;
}

.descSynesthesia {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0.5em;
    align-items: center; 
}

/* PROBLEMA */
.descProblem {
    border-top: 2px solid #9a92fb;
    padding: 3em 5em; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.imgBengala {
    margin: 0 auto;
    text-align: center; 
}

.desc-problem img {
    display: block; 
    margin: 0 auto;
}

.desc-problem p:last-of-type {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

/* CONCEITOS */
.descConcept {
    padding: 3em 5em; 
    border-top: 2px solid #eb8576;
}

.concepts h3 {
    padding: 0;
    color: #fff;
}

.btnEco,
.btnSomB,
.btnSines {
    padding: 1.5em 5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.95em;
    border-radius: 5px 5px 0 0;
    white-space: nowrap; 
}

.btnEco {
    background-color: var(--rosaRoxeado);
}

.btnSomB {
    background-color: var(--azulClaro);
}

.btnSines {
    background-color: var(--rosaClaro);
}

.concepts {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    flex-wrap: wrap; 
    gap: 1em; 
}

.eco,
.somB,
.sines {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    min-width: fit-content; 
}

.desc-eco,
.desc-binaural,
.desc-sinestesia {
    border: 5px solid var(--rosaRoxeado);
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    padding: 1.5em;
    display: none;
    flex-direction: row; 
    flex-wrap: wrap; 
    height: 60vh;
    gap: 1em; 
}

.desc-binaural {
    border: 5px solid var(--azulClaro) !important;
}

.desc-sinestesia {
    border: 5px solid var(--rosaClaro) !important;
}

.txt-eco,
.txt-binaural,
.txt-sinestesia {
    width: 45%;
    justify-content: space-between;
    text-align: justify;
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 1; 
    min-width: 250px; 
}

.img-eco, .img-binaural, .img-sinestesia {
    text-align: center; 
    flex-grow: 1; 
    min-width: 200px; 
}


.active {
    display: flex;
}

/* MARKS */
.descProgress {
    padding: 3em 5em;
    border-top: 2px solid #cf5084;
}

/* Equipe do projeto */
.gradient-text-coord {
    background: linear-gradient(120deg, #ff5757, #8c52ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-text-colab {
    background: linear-gradient(120deg, #8c52ff, #2f4858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-text-ex {
    background: linear-gradient(60deg, #000000, #cccccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.desc-team p:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
}

.descTeam {
    padding: 3em 5em; 
    border-top: 2px solid #b837a2;
}

.team h4 {
    font-size: 1.5em;
    margin: 1.5em;
    text-align: center;
    opacity: 0.9;
    user-select: none;
}

.team h4:last-of-type {
    margin-top: 2em;
}

.team h5 {
    color: #fff;
    font-size: 1.2em;
}

.teachers {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 2em; 
    margin-bottom: 2em;
}

.title-problem,
.title-concept,
.title-progress,
.title-team {
    display: flex;
    font-size: 1.3em;
    gap: 0.7em;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5em;
}

.desc-problem p:first-of-type,
.desc-concept p:first-of-type,
.desc-progress p:first-of-type,
.desc-team p:first-of-type,
.detail-progress p {
    font-size: 1.5em;
    font-weight: bold;
}

.detail-progress p {
    margin-top: 0.5em;
    text-align: justify;
}

.detail-progress p:last-of-type {
    margin: 1em 0 1em 0;
    text-align: center;
}

.cardC {
    width: 100%; 
    max-width: 340px;
    min-height: 460px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.cardC:hover {
    transform: scale(1.05); 
}

.containerCardC,
.containerCardS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    flex-grow: 1; 
}

.containerCardC h5:last-of-type,
.containerCardS h5:last-of-type {
    font-size: 1em;
    width: 80%;
}

.imgTeacher,
.imgStudent,
.imgXStudent {
    width: 280px;
    height: 300px;
    border-radius: 5px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    object-fit: cover;
}

.students {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2em; 
}

.cardS,
.cardXS {
    width: 100%; 
    max-width: 340px; 
    min-height: 500px; 
    border-radius: 5px;
    background-color: #2f4858;
    transition: transform 0.5s ease;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.cardXS {
    background-color: #3b3b3b !important;
    opacity: 0.8;
    transition: transform 0.5s ease;
}

.cardS:hover,
.cardXS:hover {
    transform: scale(1.05); 
}

.centerLastCards {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    flex-wrap: wrap; 
    gap: 2em; 
}

.center {
    margin: 0 auto;
}

.social {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: auto; 
    padding-bottom: 1em; 
}

.socialC,
.socialS {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialS {
    margin-top: 0.4em;
}

.socialC {
    gap: 1em;
    margin-top: 1em;
}

.tag {
    margin: 1em;
    width: 7em;
    height: 1.3em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.btnLattes,
.btnLinkedin,
.btnEmail {
    border-radius: 50%;
}

.btnEmail {
    background-color: #fff;
}

.Xstudents {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2em; 
}

/* IDEIAS */
.black-screen {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    text-align: center; 
    padding: 1em; 
}

.black-screen h2 {
    color: #eeeeee;
    font-size: 2em; 
}

.black-screen button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

.black-screen i {
    font-size: 2em;
    margin: 1em;
}

/* Responsividade */
/* Celulares e Telas menores */
@media (max-width: 767px) {
    body {
        font-size: 14px; 
    }

    .descProblem,
    .descConcept,
    .descProgress,
    .descTeam {
        padding: 2em 1em; 
    }

    .descContext {
        padding: 1em;
        font-size: 1.2em;
        height: 100vh;
    }

    .descContext p:last-of-type {
        width: 95%; 
    }

    .descSynesthesia h3 {
        font-size: 1.2em;
        text-align: center;
    }

    .descSynesthesia img {
        display: block; 
        width: 40px; 
    }

    .desc-problem p:last-of-type {
        font-size: 1em; 
    }

    .imgBengala {
        display: block; 
        width: 100%; 
        max-width: 300px; 
        margin-top: 1em;
    }

    /* Conceitos */
    .concepts {
        flex-direction: column; 
        align-items: center;
    }

    .btnEco,
    .btnSomB,
    .btnSines {
        padding: 1em 2em; 
        font-size: 0.85em;
        width: 100%; 
        border-radius: 5px;
        margin-bottom: 0.5em; 
    }

    .desc-eco,
    .desc-binaural,
    .desc-sinestesia {
        flex-direction: column; 
        text-align: center;
        height: auto; 
    }

    .txt-eco,
    .txt-binaural,
    .txt-sinestesia {
        width: 100%; 
        font-size: 1em; 
    }

    .img-eco, .img-binaural, .img-sinestesia {
        width: 80%; 
        margin: 1em auto;
    }

    /* Equipe */
    .team h4 {
        font-size: 1.2em;
        margin: 1em;
    }

    .desc-team p:first-of-type,
    .detail-progress p {
        font-size: 1em; 
    }

    .cardC,
    .cardS,
    .cardXS {
        width: 100%;
        margin: 0 auto;
        max-width: 320px; 
        min-height: auto; 
        height: auto;
    }

    .students,
    .Xstudents {
        flex-direction: column; 
        align-items: center;
        gap: 1.5em; 
    }

    .centerLastCards {
        flex-direction: column;
        align-items: center;
        margin: 1em 0; 
    }

    .black-screen h2 {
        font-size: 1.5em; 
    }
}

/* Telas de 768px a 1024px (Tablets) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .descProblem,
    .descConcept,
    .descProgress,
    .descTeam {
        padding: 3em 2em;
    }

  
    .descSynesthesia img {
        display: block; 
        width: 50px; 
    }

    .imgBengala {
        display: block; 
        max-width: 500px; 
    }

    .concepts {
        justify-content: center;
        gap: 1.5em; 
    }

    .btnEco,
    .btnSomB,
    .btnSines {
        padding: 1.2em 3em; 
        font-size: 0.9em;
    }

    .desc-eco,
    .desc-binaural,
    .desc-sinestesia {
        flex-direction: row; 
    }

    .txt-eco,
    .txt-binaural,
    .txt-sinestesia {
        width: 50%; 
        font-size: 1.2em;
    }

    .teachers,
    .students,
    .Xstudents {
        justify-content: center; 
        gap: 1.5em; 
    }

    .cardC, .cardS, .cardXS {
        width: 100%;
        max-width: 320px; 
    }

    .prof {
        height: auto; 
        width: 100%; 
    }

    .centerLastCards {
        justify-content: center;
        gap: 1.5em;
    }
}

/* Telas maiores (Desktop) */
@media screen and (min-width: 1025px) {
    .descProblem,
    .descConcept{
      height: 100vh;
    }
    .descProgress,
    .descTeam {
        padding: 3em 5em;
    }
    .imgBengala {
        width: 600px;
    }
    .students {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 2em;
        justify-items: center;
    }
    .Xstudents {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 2em; 
        justify-items: center; 
    }
}