.gradient-text-revision {
  background: linear-gradient(20deg, #d6d6d6, #3b3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 2em;
}

#revision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 55vh;
  width: 70%;
}

.opDef {
  display: flex;
  margin: 0.5em;
}

p {
  font-weight: bold;
  font-size: 1.3em;
}

span {
  margin-left: 0.5em;
  font-size: 1.3em;
  font-weight: 400;
}

button {
  padding: 10px;
  border: 1px solid #fff;
  background-color: var(--azulClaro);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 1s;
}

#btnSubmit {
  background-color: var(--rosaRoxeado);
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  width: 100%;
  margin-top: 2em;
}

#btnSubmit a {
  color: #fff;
}

#btnSubmit:hover {
  opacity: 0.9;
}
